html,
body {
    height: 100%;
}

.center{
	display: block;
	margin: 0 auto;
		}
		
.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 10px 0px 0px 0px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.grid { 
		width: 100%;
		margin: 0 auto;
}
.grid-item { 
		width:20%;
}
.grid-item img {
		border: 1px solid rgb(140, 206, 227);
		box-shadow: 0 0 10px rgb(140, 206, 227);
		display: inline-block;
		width:100%;
}
.grid-item :hover img {
		position: relative;
		border: 1px solid white;
		box-shadow: 0 0 3px 0 rgba(0,0,0,0.7);
		display: inline-block; 
		width:100%;
		z-index: 90;
		opacity: 1;
		cursor: pointer;
}
.pad {
		margin: 0 2px;
		padding: 0 0 4px 0;
}
@media (max-width: 767px)
{
	.grid-item { width:50%;}
}
@media (min-width: 768px) and (max-width: 991px) 
{
	.grid-item { width:33%;}
}
@media (min-width: 991px) and (max-width: 1199px)
{
	.grid-item { width:25%;}
}
@media (min-width: 1200px) 
 {
	.grid-item { width:20%;}
 }
 
.dws-progress-bar {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 100;
}
.progress-percentage {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-size: 40px;
		font-family: "Verdana", sans-serif;
		font-weight: bold;
		color: #25ffe4;
}
#preloader {
		position: fixed;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		z-index: 100;
		background: #000;
}